<!-- Page Heading Section Start -->
<div class="page-heading-section section bg-parallax" data-bg-image="../../../assets/images/bg/bg-1.jpg" data-overlay="50">
    <div class="container">
        <div class="page-heading-content text-center">
            <h3 class="title">Envato</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/companies']">Companies</a></li>
                <li class="breadcrumb-item active">Envato</li>
            </ol>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->

<!-- Company List Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row mb-n5">

            <div class="col-lg-8 col-12 mb-5 pr-lg-5">

                <!-- Company Details Start -->
                <div class="company-details">
                    <h5 class="mb-3">{{company.name}}</h5>
                    <p>{{company.about}}</p>
                </div>
                <!-- Company Details Start -->

                <!-- Job List Wrap Start -->
                <div class="job-list-wrap mt-5">

                    <!-- Job List Start -->
                    <a href="job-single.html" class="job-list" *ngFor="let item of company.jobs">
                        <div class="company-logo col-auto">
                            <img src="../../../assets/images/companies/company-1.png" alt="Company Logo">
                        </div>
                        <div class="salary-type col-auto order-sm-3">
                            <span class="salary-range">{{item.salary}}</span>
                            <span class="badge badge-success">{{item.type}}</span>
                        </div>
                        <div class="content col">
                            <h6 class="title">{{item.title}}</h6>
                            <ul class="meta">
                                <li><strong class="text-primary">{{company.name}}</strong></li>
                                <li><i class="fa fa-map-marker"></i> {{company.location}}</li>
                            </ul>
                        </div>
                    </a>
                    <!-- Job List Start -->



                </div>
                <!-- Job List Wrap Start -->

            </div>

            <!-- Company Sidebar Wrap Start -->
            <div class="col-lg-4 col-12 mb-5">
                <div class="sidebar-wrap">
                    <!-- Sidebar (Company) Start -->
                    <div class="sidebar-widget">
                        <div class="inner">
                            <div class="sidebar-company">
                                <span class="company-logo"><img src="../../../assets/images/companies/company-1.png" alt="company-1"></span>
                                <h6 class="title">Envato</h6>
                                <ul>
                                    <li><strong>Categories:</strong>
                                        <a href="#" *ngFor="let item of company.category.split(',')">{{item}}</a>
                                    </li>
                                    <li><strong>Founded:</strong> 2006</li>
                                    <li><strong>Team Size:</strong> 50 - 100</li>
                                    <li><strong>Job Open:</strong> 2</li>
                                    <li><strong>Website:</strong> <a href="#">envato.com</a></li>
                                    <li><strong>Location:</strong> Melbourne, Australia</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar (Company) End -->

                    <!-- Sidebar (Company Location) Start -->
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">Location on Map</h6>
                            <div class="company-location-map google-map" id="company-location-map" data-lat="-37.8172835" data-long="144.9560768" data-zoom="12">
                                <span class="sr-only">Job Location Map</span>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar (Company Location) End -->
                </div>
            </div>
            <!-- Company Sidebar Wrap End -->

        </div>
    </div>
</div>
<!-- Company List End -->