<!-- Page Heading Section Start -->
<div class="page-heading-section section bg-parallax" data-bg-image="../../../assets/images/bg/bg-1.jpg" data-overlay="50">
    <div class="container">
        <div class="page-heading-content text-center">
            <h3 class="title">FAQ'S</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                <li class="breadcrumb-item active">FAQ'S</li>
            </ol>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->

<!-- FAQ'S Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">

                <div class="faq-card card" *ngFor="let item of faq">
                    <div class="card-header">
                        <h6>{{item.quest}}</h6>
                    </div>
                    <div class="card-body">
                        {{item.answer}}
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
<!-- FAQ'S Section End -->